// A critical component should be loaded using inline styles when the page is loaded. This should only be used
// for styles that are absolutely necessary for the page to function and look somewhat "right". Even then, please
// only include what you need, and leave the rest for the non-critical components.
