// @akqa-frontline/scss-config-webpack-plugin supports JSON imports
// if this compiles then Storybook is using _our_ SCSS webpack configuration
@import "./Example.tokens.json";

.example {
    padding: 1rem 2rem;
    border: 1px solid;
}

.example--primary {
    background-color: map_get($colors, primary);
}

.example--secondary {
    background-color: map_get($colors, secondary);
}
