//--------------------------------------
// Created:
// Created by:
// Modifiers:
//--------------------------------------

// Basic setup. "Normalize", "base" and "typography" are not included in "main" by default.
@import "base/normalize"; // Please look inside this file. You can customize your normalizer to only include the stuff you need.
@import "base/variables";
@import "base/base";
@import "base/typography";

// Mixins, helpers and similar.
@import "utilities/functions/**/*.scss";
@import "utilities/mixins/**/*.scss";
@import "utilities/placeholders/**/*.scss";
@import "utilities/helpers/**/*.scss";

// Animations are not included here, but only in the main-file. If you need keyframe animations for your critical components,
// you should include the file here as well. Please note that a certain amount of "tree shaking" is applied to the minified
// files, so if you only include animations in one file and not the other, and certain keyframes are not referenced in either
// "code-set", you may get a nasty surprise once you start using it in production-mode and nothing animates at all.
//
// Bottom line: if you use animations in your critical components, you must ensure the keyframes are included here.

// Layout settings. These are not included in "main" by default.
@import "layout/**/*.scss";

// All CRITICAL components only
@import "components/critical/**/*.scss";
